@import "~primevue/resources/themes/saga-blue/theme.css";
@import "~primevue/resources/primevue.min.css";
@import "~primeicons/primeicons.css";
@import "~primeflex/primeflex.css";

@import "./button";

.p-component {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.85rem;
}

.p-card .p-card-title {
  font-size: 1rem !important;
}

.p-dropdown-trigger-icon {
  font-size: 0.7rem !important;
}
