$cl-border: rgba(72, 94, 144, 0.16);
$cl-body: #1b2e4b;
$cl-table:#001737;
$bg-paging: #e3e7ed;
$bg-paging-active: #0168fa;
$bg-paging-hover: #b4bdce;
$bg-paging-disable: #eceff3;
$cl-paging: #333;
$cl-paging-active: #fff;
$cl-paging-hover: #001737;
$cl-paging-disable: #b4bdce;
$cl-link: #0168fa;
$cl-link-hover: #0148ae;
$cl-title: #001737;
$cl-note: #8392a5;